body {
  margin: 0;
  padding: 0;
  font-family:
    "Inter", "Poppins", "Roboto", "Rubik", "Plus Jakarta Sans", sans-serif;
  background-color: rgb(255, 255, 255);
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: sticky;
  z-index: 1000;
  background: color #333;
  height: 70px;
}
.left-box h1 {
  font-family: Roboto;
  font-weight: bolder;
  color: #0056d2;
  font-size: 3em;
}
.right-box {
  display: flex;
  gap: 30px;
  align-items: center;
}
.right-box a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 1.2em;
  color: #000;
  font-weight: 510;
}
.right-box a:hover {
  color: #0056d2;
}
.right-box button {
  padding: 15px 30px;
  background-color: #0056d2;
  color: white;
  font-family: Poppins;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}
.right-box button:hover {
  background-color: #003a9b;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  background-color: #f6faff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.left-hero {
  width: 50%;
  padding-left: 100px;
}
.right-hero {
  width: 50%;
  padding-right: 100px;
}
.left-hero h1 {
  font-size: 64px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
.left-hero p {
  font-size: 20px;
  font-family: Plus Jarkata Sans;
  color: #666;
  max-width: 530px;
}
.right-hero img {
  width: 500px;
  margin-left: 100px;
}
.get {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: #0056d2;
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: Inter;
  transition: all 0.3s ease-in-out;
}
.get:hover {
  background-color: #003a9b;
  cursor: pointer;
}
.for {
  padding: 15px 30px;
  border: 2px solid #0056d2;
  border-radius: 30px;
  color: #0056d2;
  background: transparent;
  font-size: 18px;
  margin-left: 20px;
  font-weight: 500;
  font-family: Roboto;
  transition: all 0.3s ease-in-out;
}
.for:hover {
  background-color: #0000001e;
  cursor: pointer;
}
/* How it works Section */
.How {
  background-color: #fff;
  text-align: center;
  padding: 80px 10%;
}
.How-h {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0f172a;
}
.How-p {
  font-size: 18px;
  font-family: Inter;
  color: #666;
  margin-bottom: 60px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  text-align: center;
  background-color: #f3f8ff;
  border-radius: 24px;
  padding: 40px 30px;
  transition: transform 0.5s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.2);
}
.icon-box {
  background-color: #0056d2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}
.icon-box i {
  color: white;
  font-size: 32px;
}
.cards h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.cards p {
  font-size: 20px;
  line-height: 1.6;
  color: #666;
  font-family: Inter;
}
/* RESPONSIVENESS */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
/* REASONS-SECTION */
.Reasons {
  background-color: #f6faff;
  padding: 80px 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Reasons h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #0f172a;
}
.why-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.Why {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 24px;
  padding: 40px 30px;
  transition: transform 0.5s;
}
.Why:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.2);
}
.Icon-box {
  background-color: #0056d2;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Icon-box i {
  color: white;
  font-size: 32px;
}
.Why h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2px;
}
.Why p {
  font-size: 20px;
  line-height: 1.6;
  color: #666;
  font-family: Inter;
}
/* PURPOSE-SECTION */
.purpose {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.Left-hero {
  width: 50%;
  padding-left: 100px;
}
.Right-hero {
  width: 50%;
  padding-right: 100px;
}
.Left-hero h1 {
  font-size: 64px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
}
.Info {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  max-width: 530px;
  margin-bottom: 50px;
}
.Right-hero img {
  width: 500px;
  margin-left: 100px;
}
.Check {
  font-size: 18px;
  font-family: Plus Jarkata Sans;
  color: #666;
  max-width: 530px;
  margin-bottom: 30px;
}
.Left-hero i {
  color: #0056d2;
  font-size: 20px;
}
